# Compiled binary files
*.exe
*.out

# Build files
/build/

# Dependency directories
/vendor/
/go.sum

# IDE and editor files
.idea/
.vscode/

# Logs and temporary files
/log/
/temp/

# Ignore the data.db file if SQLite is used
data.db

*.db

/internal/
.DS_Store
